
body{
margin: 0;
overflow: hidden;
font-size: 14;
}

*{
    box-sizing: border-box;
}
/* .container{
    height: 100vh;
    
} */
.title-bar{
    height: 5vh;
    background-color: #0E7C41;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.menu-bar{
    height: 5vh;
    background-color: #0E7C41;
    display: flex;
    
}
.menu-item{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 16;
    display: flex;
    align-items: center;
}
.menu-item.selected{
    background-color: white;
    color: #0E7C41;
}
.menu-item:hover{
    background-color: #064121;
    cursor: pointer;
}
.menu-item.selected:hover{
    background-color:white;
    cursor: default;
}
.menu-icon-bar{
    height: 5vh;      
    background-color: #F5F5F5;
    display: flex;  
    align-items: center;
}
.menu-icon{
    padding-left: 10px;
    padding-right: 10px;
    /* height: 100%; */
    display: flex;
    align-items: center;
}
.menu-icon:hover{
    background-color: lightgray;
    cursor: pointer;
}
.selector{
    height: 20px;
    width: 18px;
}
.font-family-selector{   
    width: 130px;
}
.selector option{
    font-size: 18px;
}
.font-size-selector{
    height: 20px;
    width: 40px;
}
.formula-bar{
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: #F5F5F5;
    
}
.formula-editor{
    height: 70%;
    border: 1px solid lightgrey;
    background-color: white;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: felx;
    align-items: center;
    outline-color: #0E7C41;
    
}
.selected-cell{
    width: 120px;   
}
.function-sign{
    
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formula-input{
    width: calc(100vw - 160px);
}
.data-container{
    height: 76vh;  
    display: flex;
    flex-wrap: wrap;
}   
.select-all{
    height: 30px;
    width: 30px;
    border: 1px solid lightgray;
}
.column-name-container{
    height: 30px;
    width: calc(100vw - 30px);
    border: 1px solid lightgray;
    display: flex;
    
}
.column-name{
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    font-weight: bold;
}
.row-name-container{
    width: 30px;
    height: calc(76vh - 30px);
    border: 1px solid lightgray;
    overflow: hidden;
    
}
.row-name{
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
}
.input-cell-container{
    width: calc(100vw - 30px);
    height: calc(76vh - 30px);
    border: 1px solid lightgray;
}

.cell-row{
    display: flex;
}
.input-cell{
    min-width: 100px;
    min-height: 25px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    outline-color: #0E7C41;
}
.input-cell.selected{
    border: 2px solid #0E7C41;
}
/* .cell-column{
    display: flex;
} */

.sheet-bar{
    height: 4vh;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
}
.scroller{
    width: 70px;
}
.icon-left-scroll:hover, .icon-right-scroll:hover{
    background-color: lightgray;
    cursor: pointer;
}
.icon-add{
    color: #107c41;
    width: 40px;
}
.icon-add:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.sheet-tab-container{
    border: 1px solid lightgrey;
    width: 92%;
}
.sheet-tab{
    border-bottom: 4px solid #107c41;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    width: 70px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-right: 1px solid lightgray;  
}
.sheet-tab{
    cursor: default;
}
.menu-icon.selected{
    background-color: lightgray;
}